*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    font-family:Segoe UI, sans-serif;
    background:#f5f7fb;
    color:#333;
    line-height:1.7;
    }
    
    header{
    background:#0f172a;
    padding:20px;
    color:white;
    }
    
    header h1{
    margin-bottom:15px;
    }
    
    nav ul{
    display:flex;
    list-style:none;
    gap:20px;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    }
    
    nav a:hover{
    color:#60a5fa;
    }
    
    main{
    width:85%;
    margin:auto;
    }
    
    section{
    background:white;
    padding:30px;
    margin:30px 0;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    }
    
    .hero{
    text-align:center;
    }
    
    .profile-image{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    }
    
    ul{
    margin-left:25px;
    }
    
    input,
    textarea{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    }
    
    button{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    }
    
    button:hover{
    background:#1d4ed8;
    }
    
    footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    }
    
    @media(max-width:768px){
    
    nav ul{
    flex-direction:column;
    gap:10px;
    }
    
    main{
    width:95%;
    }
    
    }